/* 
Theme Name: AfterSchool
Author: Steve George
Description: Custom theme development
*/

body {
	padding: 0;
	margin: 0;
	background-color: #E5F2FC;
	font-size: 16px;
	line-height: 140%;
}


/* BLOCK LAYOUT
------------------------------------------------------------- */

/* HOME PAGE */

.container {
	width: 100%;
	max-width: 1000px;
	margin: 0 auto;
	padding: 0;
}

header.main {
	width: 100%;
	height: 200px;
	position: relative;
	background-color: #0164AA;
	position: relative;
}

#content {
	float: left;
	min-height: 200px;
	padding: 0;
	background-color: #FFF;
}

footer.main {
	padding: 30px 0;
	text-align: center;
	line-height: 30px;
	font-size: 80%;
	background-color: #0164AA;
	color: #FFF;
}

.site_title  {
	position: absolute;
	bottom: 30px;
	left: 30px;
	padding: 0px;
	line-height: 200px;
	color: #FFF;
	font-size: 30px;
	font-weight: 700;
	display: block;
	width: 150px;
	height: 81px;
	background-image: url('images/logo.png');
	background-repeat: no-repeate;
	text-indent: -9999px;
}

div#featured {
	display: relative;
	padding: 0;
	min-height: 200px;
	padding: 0;
	padding: 0;
}

div#featured img {
	width: 100%;
	height: auto;
}

div.callout {
	display: relative;
	padding: 0;
	padding-bottom: 30px;
}

div.callout div img {
	width: 100%;
	height: auto;
}

div.caption {
	position: absolute;
	bottom: 0;
	height: 50px;
	line-height: 50px;
	background-color: #0164AA;
	color: #fff;
	padding: 0;
	display: block;
	width: 100%;
}

div.callout > div {
	position: relative;
	overflow: hidden;
}

div.callout .caption {
	background: transparent;
}

div.callout .caption a {
	text-shadow: 1px 1px 1px #000;
}

div.caption a {
	color: #fff;
	line-height: 50px;
	margin-left: 10px;
}

div#primary {
	padding: 0;
	background-color: #FFF;
}

div#secondary {
	padding: 0;
	padding: 30px 0 0 0;
	background-color: #2E88C9;
}

body.page-template-default div#secondary {
	background-color: #FFF;
	padding-top: 15px;
}

body.page-template-default div#primary {
	border-right: 1px solid #cfcfcf;
	padding: 15px 30px;
}

body.page-template-default  div.callout {
	padding-bottom: 15px;
}

table {
	border: 1px solid #cfcfcf;
}

.alignleft {
	float: left;
	padding: 0 15px 15px 0;
}

h1 {
	margin-bottom: 20px;
	color: #F99E2A;
}

h1 a {
	color: #F99E2A;
}

/* NAVIGATION
------------------------------------------------------------- */

ul.menu {
	padding: 0;
	margin: 0;
}

ul.menu li {
	list-style-type: none;
}

ul.menu li {
	display: inline-block;
}


a:hover, a:active {
	opacity: 0.7
}

/* UTIL NAV */

nav#util {
	position: absolute;
	top: 0;
	right: 0;
	width: auto;
	height: 50px;
	text-align: right;
	background-color: transparent;

}

nav#util a {
	display: block;
	line-height: 50px;
	color: #fff;
	text-decoration: none;
	padding: 0 10px;
}

/* MAIN NAV */

nav#main {
	width: 100%;
	color: #000;
	min-height: 50px;
	height: auto !important;
	background-color: #2E88C9;
	display: none;
	padding-left: 0px;
}

nav#main ul.menu li {
	display: block;
}

nav#main a {
	display: block;
	line-height: 50px;
	color: #fff;
	text-decoration: none;
	padding: 0 30px;
	border-bottom: 1px solid #cfcfcf;

}

nav#main a:hover,
nav#main a:active,
nav#main li.current_page_item a {
	color: #0075CE;
	background: #A4D1F2;
	opacity: 1.0;
}

nav#main li {
	margin-right: -7px;
}

a.menu_toggle {
	display: block;
	width: 44px;
	height: 50px;
	position: absolute;
	right: 0px;
	bottom: 0px;
	background-image: url('images/menu-icon.png');
	background-repeat: no-repeat;
	text-indent: -9999px;
}

#primary img {
	width: 100%;
	height: auto;
	margin: 25px 0;
}

/* FOOTER NAV */

nav#footer ul {
	margin: 0 aut0;
}

nav#footer ul a {
	padding: 0 10px;
	color: #FFF;
}

button, input[type=text], input[type=password], input[type=email], optgroup, select, textarea {
    width: 100%;
    max-width: 400px;
}

#primary #featured img {
	margin: 0;
}

@media screen and (min-width: 768px) {
	nav#main {
		display: block;
	}

	nav#main ul.menu li {
		display: inline-block;
	}

	nav#main a {
	  border-right: 1px solid #cfcfcf;
	}

	a.menu_toggle {
		display: none;
	}

	#primary img {
		width: auto;
		height: auto;
		margin: 15px; 0;
	}

}






