/*
	Theme Name: First Theme;
	by Snia Verma
 */
body{
	font-size: 16px;
	background-color: #eeeeee;
}
div{
	box-sizing: border-box;
}
#container{
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
	clear: both;
}

header,footer{
	background-color: #cfcfcf;
	height: 150px;
	line-height: 150px;
	padding-left: 50px;
	color: #009;
}

footer{
	background-color: #333;
	color: #fff;
	text-align: center;
	clear: both;
}

#inner{
	clear: both;
	width: 100%;
	overflow: hidden;
	box-sizing: border-box;
	background-color: #fff;
}
#main{
	float: right;
	width: 75%;
	padding: 50px;
	border-left: 2px solid #cfcfcf;
}
#secondary{
	float: left;
	width: 25%;
	
	padding-left: 50px;
}
section{
	clear: both;
}
ul{
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
}
li{
	list-style-type: none;
	list-style-position: outside;
	
}