/*
	Theme Name: chop shop;
	by Snia Verma
 */
body{
	font-size: 16px;
	background-color: #eeeeee;
}
div,header,footer{
	box-sizing: border-box;
}
#container{
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
	clear: both;
}

legend{
	font-size: 20px;
	font-weight: bold;
}

header{
	background-image: url("car.jpg");
	height: 150px;
	line-height: 150px;
	padding-left: 50px;
	color: #fff;
	width:100%;        
    margin-left:auto;
    margin-right:auto;
    background-position:center;
    background-repeat:no-repeat;
    overflow: hidden;
    background-color: #000;
}
#main h1{
	color: #009;
}

footer{
	height: 150px;
	line-height: 70px;
	padding-left: 50px;
	background-color: #000;
	color: #fff;
	text-align: center;
	clear: both;
}

#inner{
	clear: both;
	width: 100%;
	overflow: hidden;
	box-sizing: border-box;
	background-color: #fff;
}
#main{
	float: right;
	width: 75%;
	padding: 50px;
	border-left: 2px solid #cfcfcf;
}
#secondary{
	float: left;
	width: 25%;
	
	padding-left: 50px;
}
section{
	clear: both;
}
ul{
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
}
li{
	list-style-type: none;
	list-style-position: outside;
	
}
form{
	margin-top: 70px;
}

footer ul, footer li{
	display: inline;
	color: #fff;
	margin: 0;
	padding: 0;
}

footer a{
	color: #fff;
	padding-left: 50px;
}